/* 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .animated-object {
    animation: upAndDown 2s infinite;
  }
  
  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
.login{
    font-size: 20px;
} */