

.user{
    text-align: center;
}
.texxt{
    text-align: center;
    font-size: 13px;
}
.logout{
    background-color: #ebebeb;
    color: #555555;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
   }
   .logout:hover {
    background-color: #f04c4c;
    color: #000000;
  }